@charset "UTF-8";

/* Estilos para el cuerpo de la página */
.body {
  font-family: "Urbanist", sans-serif;
  background-color: #f8f8f8;
  margin: 0; /* Elimina márgenes predeterminados */
}

/* Estilos para el encabezado */
.headerContainer {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  width: 100%;
  background: rgb(236,253,255);
  background: -moz-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: -webkit-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecfdff",endColorstr="#fff2f7",GradientType=1);
  padding: 10px 0;
  text-align: center;
  font-family: "Caveat", cursive;
  z-index: 1000;
  margin-bottom: 10px;
}

/* Estilos para la barra de navegación móvil */
.div-mobile-navbar {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.mobile-navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: white;
  bottom: 0;
  width: 85%;
  margin: 8px 0px;
  padding: 10px 20px; /* Ajuste de padding para espaciado interno */
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 20px; /* Borde redondeado */
}

.mobile-navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 35px;
  text-align: center;
}

.mobile-navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

/* Estilos para los íconos */
.nav-item {
  font-size: 23px; /* Tamaño de fuente para los íconos */
  cursor: pointer;
  transition: transform 0.3s ease; /* Transición suave para el efecto de escala */
}

/* Estilos para la sección de productos */
.product-section {
  height: 90vh;
  overflow-y: scroll; /* Permite el scroll vertical */
  scroll-snap-type: y mandatory; /* Scroll snap vertical obligatorio */
  scroll-behavior: smooth; /* Scroll suave */
}

/* Estilos para los productos */
.product {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column; /* Cambia la dirección del flex a columna */
  justify-content: center;
  align-items: center;
  scroll-snap-align: start; /* Alineación del snap */
  transition: opacity 0.5s ease; /* Transición suave para el cambio de productos */
}

.cardd {
  margin: 0px 0px 150px 0px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta el tamaño y la intensidad de la sombra */
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.carousel {
  display: flex;
  justify-content: center;
  width: 300px;
  align-items: center;
}

.productImg {
  width: 100%;
  display: block; /* Para asegurar que la imagen se muestre como un bloque */
  margin: auto; /* Auto en ambos lados para centrar horizontalmente */
  height: auto; /* Altura automática para mantener la proporción */
  border-radius: 5%;
}

.productName {
  color: #333; /* Color más oscuro para un aspecto más profesional */
  font-size: 18px; /* Tamaño de fuente ligeramente mayor */
  font-weight: bold; /* Texto en negrita */
  font-family: "Urbanist", sans-serif;
}

.productPrice {
  margin: 20px 0px 10px 0px;
  font-weight: bold;
  font-size: 13px; /* Tamaño de fuente estándar */
  font-family: "Urbanist", sans-serif;
}

.productOpinion {
  font-size: 11px;
  color: #666;
  font-family: "Urbanist", sans-serif;
}

/* Estilos mejorados para el botón de compra */
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 12px 24px;
  background: rgb(236,253,255);
  background: -moz-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: -webkit-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecfdff",endColorstr="#fff2f7",GradientType=1);
  color: #090909;
  border: none;
  border-radius: 25px; /* Bordes redondeados */
  font-size: 1em; /* Tamaño de fuente estándar */
  font-weight: bold; /* Texto en negrita */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.invisibleP {
  width: 30%;
}

.buyButton {
  width: 50%;
  margin: 0px;
  font-family: "Urbanist", sans-serif;
}

.amazonIcon {
  width: 17px;
}

.productRating {
  filter: drop-shadow( 0px 2px 2px rgba(0, 0, 0, 0.178)); /* Sombra ligera */
}

.pMarginButtom {
  background-color: red;
}