@charset "UTF-8";

/* Block scroll in app */
:root {
  overflow: hidden;
}

/* Styles for the body of the page */
.body {
  font-family: "Urbanist", sans-serif;
  background-color: #f8f8f8;
  margin: 0; /* Remove default margins */
}

/* Styles for the header */
.header {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  width: 100%;
  background: rgb(236,253,255);
  background: -moz-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: -webkit-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecfdff",endColorstr="#fff2f7",GradientType=1);
  padding: 10px 0;
  text-align: center;
  font-family: "Caveat", cursive;
  z-index: 1000;
  margin-bottom: 10px;
}

/* Styles for the mobile navigation bar */
.div-mobile-navbar {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  margin: 0px;
}

.mobile-navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: white;
  bottom: 0;
  width: 85%;
  margin: 8px 0px;
  padding: 10px 20px; /* Adjust padding for internal spacing */
  box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border-radius: 20px; /* Rounded border */
}

.mobile-navbar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 35px;
  text-align: center;
}

.mobile-navbar ul li {
  display: flex;
  padding: 8px 8px;
}

/* Styles for the home icon */
.homeIcon {
  background: rgb(236,253,255);
  background: -moz-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: -webkit-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecfdff",endColorstr="#fff2f7",GradientType=1);
  border-radius: 20px;
}

/* Styles for the icons */
.nav-item {
  font-size: 23px; /* Font size for icons */
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition for scale effect */
}

/* Styles for the product section */
.product-section {
  height: 90vh;
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Mandatory vertical scroll snap */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Styles for the products */
.product {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  justify-content: center;
  align-items: center;
  scroll-snap-align: start; /* Snap alignment */
  transition: opacity 0.5s ease; /* Smooth transition for product change */
}

.cardd {
  width: 350px;
  margin: 0px 0px 150px 0px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Increase size and intensity of shadow */
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

/* Styles for the carousel */
.carousel {
  display: block;
  margin: auto;
  height: 42vh;
  align-items: center;
}

[data-bs-target] {
  background-color: #000000 !important;
}

/* Styles for the product images */
.productImg {
  display: block;
  margin: auto;
  width: 100%; /* Maximum width allowed */
  max-height: 80%; /* Maximum height allowed */
  height: auto; /* Auto height to maintain proportion */
  object-fit: contain; /* Adjust content to maintain proportion */
}

/* Styles for the product name */
.productName {
  color: #333; /* Darker color for a more professional look */
  font-size: 18px; /* Slightly larger font size */
  font-weight: bold; /* Bold text */
  font-family: "Urbanist", sans-serif;
}

/* Styles for the product price */
.productPrice {
  margin: 0px 0px 10px 0px;
  font-weight: bold;
  font-size: 13px; /* Standard font size */
  font-family: "Urbanist", sans-serif;
}

/* Styles for the product opinion */
.productOpinion {
  font-size: 11px;
  color: #666;
  font-family: "Urbanist", sans-serif;
}

/* Improved styles for the buy button */
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 12px 24px;
  background: rgb(236,253,255);
  background: -moz-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: -webkit-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecfdff",endColorstr="#fff2f7",GradientType=1);
  color: #090909;
  border: none;
  border-radius: 25px; /* Rounded borders */
  font-size: 1em; /* Standard font size */
  font-weight: bold; /* Bold text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

/* Styles for invisible paragraph in button container */
.invisibleP {
  width: 30%;
}

/* Styles for the buy button */
.buyButton {
  text-decoration: none;
  color: #333;
  width: 50%;
  margin: 0px;
  font-family: "Urbanist", sans-serif;
}

/* Styles for the Amazon icon */
.amazonIcon {
  width: 17px;
}

.pMarginButtom {
  background-color: red;
}

a .active-link {
  color: #000000;
  background-color: red;
  padding: 5px;
  border-radius: 50%;
}

/* Modal styles */
.modal-content {
  background: rgb(236,253,255);
  background: -moz-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: -webkit-linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  background: linear-gradient(180deg, rgba(236,253,255,1) 43%, rgba(255,242,247,1) 72%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecfdff",endColorstr="#fff2f7",GradientType=1);
  border: none !important;
}
.modal-header {
  border: none !important;
}
.modal-footer {
  border: none !important;
}

/* Styles for the secondary button */
.btn-secondary {
  background-color: rgb(94, 54, 255) !important;
  border: none !important;
}

/* Modal bottom styles */
.modal-bottom {
  margin: 0 auto !important;
  top: 0 !important;
  width: 100% !important;
  transition: transform 0.6s ease-out !important;
  transform: translateY(-100%) !important;
}

.modal-bottom.show {
  transform: translateY(calc(162% - 100%)) !important; /* Adjust the final position of the modal */
}

.fade {
  padding: 0px;
}
